body {
    font-family: 'Nunito';
    min-height: 100vh;
}

body {
    font-size: .875rem;
}
  
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
  
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
  
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
  
@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}
  
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
  
.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}
  
.sidebar .nav-link.active {
    color: #007bff !important;
}
  
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}
  
.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
  
[role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
  
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}
  
.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}
  
.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.navbar {
    z-index: 101;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #91989e;
    background-color: #38c172 !important;
}

.custom-control-input ~ .custom-control-label::before {
    color: #fff;
    border-color: #91989e;
    background-color: #e3342f !important;
}

.hoverable-card {
    box-shadow: 4px 7px 7px #ccc;
    transition: all 0.2s ease-in-out;
    /* height: 250px;
    width: 250px; */
    /* display: inline-block; */
}


.hoverable-card:hover {
    box-shadow: 4px 10px 10px #aaa;
    /* height: 260px;
    width: 260px; */
    margin-top: calc(1rem - 10px) !important;
    margin-bottom: calc(1rem - 10px) !important;
    margin-right: calc(1rem - 5px) !important;
    margin-left: calc(1rem - 5px) !important;
}

.floater-btn {
    position: fixed;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    padding: 5px !important;
    vertical-align: middle !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-origin: content-box !important;
    transition: ease-in-out 0.25s;
    box-shadow: 3px 3px 5px #3490dc;
    z-index: 3 !important;
    box-align: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical; 
}

.floater-btn-1 {
    bottom: 25px;
    right: 20px;
}

.floater-btn-2 {
    bottom: 25px;
    right: calc(3em + 28px);
}

.floater-btn-3 {
    bottom: 25px;
    right: calc(6em + 36px);
}

.tick-btn {
    color: white !important;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: inline-block;
    text-align: center;
    padding: 1px !important;
    vertical-align: middle !important;
    background-image: url('../img/tick.svg');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-origin: content-box !important;
}

.cancel-btn {
    color: white !important;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: inline-block;
    text-align: center;
    padding: 5px !important;
    vertical-align: middle !important;
    background-image: url('../img/cancel.svg');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-origin: content-box !important;
}

.switch-wrapper {
    position: relative;
    width: 100% !important;
}
   
.switch-wrapper > div {
    position: absolute;
    width: 100% !important;
}

.access-log-row {
    transition: background-color 0.2s ease-in-out;
}

.access-log-row:hover {
    background-color: #eee;
    cursor: default;
}

.scope-row {
    transition: all 0.2s ease-in-out;
}

.scope-row:hover {
    font-size: 1.05em;
    background-color: #eee;
    cursor: pointer;
}

.left-col {
    border-radius: 25px 0px 0px 25px !important;
}

.right-col {
    border-radius: 0px 25px 25px 0px !important;
}

.no-a {
    color: inherit;
}

.no-a:hover {
    text-decoration: none;
}

.h-60 {
    min-height: 80vh !important;
}

.sso-inp-label {
    display: block;
    text-align: right;
    font-size: 0.8em;
    color: #bbb;
}

.sso-inp {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
}

.card-login {
    box-shadow: 5px 5px 5px #aaa;
    border-radius: 15px !important;
}

.card-rounded {
    box-shadow: 5px 5px 5px #aaa;
    border-radius: 25px !important;
}

.rg-image {
    height: 130px;
    background-color: rgb(204, 204, 204);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-file-upload-button {
    font-weight: 500 !important;
    border: 0px;
    height: inherit;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

input[type=file] {
    padding: 0;
    overflow: hidden;
}
  
::-webkit-file-upload-button:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}
  
::-webkit-file-upload-button:focus,
::-webkit-file-upload-button.focus {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}
  
::-webkit-file-upload-button.disabled,
::-webkit-file-upload-button:disabled {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
  
::-webkit-file-upload-button:not(:disabled):not(.disabled):active,
::-webkit-file-upload-button:not(:disabled):not(.disabled).active,
.show > ::-webkit-file-upload-button.dropdown-toggle {
    color: #fff;
    background-color: #1d2124;
      border-color: #171a1d;
}
  
::-webkit-file-upload-button:not(:disabled):not(.disabled):active:focus,
::-webkit-file-upload-button:not(:disabled):not(.disabled).active:focus,
.show > ::-webkit-file-upload-button.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}

.hidden-textarea {
    opacity: .01;
    height:0;
    position:absolute;
    z-index: -1;
}

.hidden {
    display: none;
}

.read-more-btn {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

.course-index-icon {
    width: 2em;
    margin-left: 5px;
    margin-right: 5px;
}

.course-index-title {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-link:hover {
    color: #275cab !important;
}

.nav-item .active-2 {
    color: #007bff !important;
}

.card-left-img {
    height: 150px;
    background-color: rgba(204, 204, 204, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.bg-body {
    background-color: #f8fafc;
}

.material-icons-outlined {
    vertical-align: text-bottom;
}

.input-icon {
    font-size: 1.5em !important;
}